<%- include ("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-5">
				<h1 class="Captilize text-center"><%= user.firstName + " " + user.lastName %></h1>
			<div class="thumbnail">
				<div class="caption text-center">Mail to : <a href="mailto:<%= user.email %>"><%= user.email %></a></div>
			</div>
		</div>
	</div>

	<h4>All Uploads : </h4>
	<% if(blogs.length == 0) { %>
		<h2> No posts yet ☹</h2>
	<% } %>
	<% blogs.forEach(function(blog){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail" id="thumbnail">
				<img src="<%= blog.image %>">  
				<div class="caption">
					<h4 class = "showtitle"> <%= blog.name %> </h4> 
				</div>
				<p>
					<a href="/blogs/<%= blog._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
	<% }); %>

</div>


<%- include ("../partials/footer") %>
